<body>
    <h2>Hola mundo</h2>
    <h3>Esto lo escribo en mi primer commit</h3>
    <hr>
    <h3>Esto lo escribo en mi segundo commit y en la Branch Test</h3>
    <hr>
    <h3>En este nuevo commit hago cambios en main, para luego tener que llevarlos a test</h3>
    <marquee>Esto es un mensaje sobre un cuadrado azul
        <div style="width:100px;height:100px;background-color:blue;"></div>
    </marquee>

    <h3>En este nuevo commit hago cambios en test, para luego tener que llevarlos a main</h3>
    <h4>Pss, por si te quedo la duda, ya hice el merge</h4>

</body>